---
import Layout from '../../../Layout/Layout.astro';
import type { FontReporter } from '../../../components/fonts/utils';
import { FontDetails } from '../../../page/FontDetails';

const { font, version, name } = Astro.params;
const fileName = name!.replaceAll(" ", "_")
        // 更换文件夹中的 . 为 _
        .replace(/(?<=\/.*)\.(?=.*\/)/g, "_")
const reporter = await fetch(
    `https://ik.imagekit.io/chinesefonts/packages/${font}/dist/${fileName}/reporter.json`
).then<FontReporter>((res) => res.json());
const style = `font-family:"${reporter.message.fontFamily}";font-bold:"${reporter.message.fontSubFamily}"`;
---

<Layout canonicalURL={`/fonts/${font}`} defaultFontCSS={`https://ik.imagekit.io/chinesefonts/packages/${font}/dist/${fileName}/result.css`}>
    <section style={style}>
        <FontDetails
            reporter={reporter}
            packageName={font!}
            version={version!}
            cnName={name!}
            subName={name!}
            client:load
        />
    </section>
</Layout>
