---
import Layout from '../Layout/Layout.astro';
import { sections } from '../utils/getPostSections';
---

<Layout title={'文章列表'}>
    <main class="py-4 px-12">
        <h1 class="w-full py-8 text-3xl text-center">中文网字计划——文档列表</h1>

        <section class="grid grid-cols-4 gap-8">
            {
                [...sections.entries()].map(([sectionName, posts]) => {
                    return (
                        <nav id={sectionName}>
                            <h2 class="my-2 border-b border-neutral-400 py-2 text-2xl text-cyan-700">
                                {sectionName}
                            </h2>
                            <ul>
                                {posts.map((post) => {
                                    return (
                                        <li>
                                            <a class=" " href={`/post/${post.slug}/`}>
                                                <h3 >{post.data.title}</h3>

                                                <p class="my-2 line-clamp-1 text-xs text-gray-500">
                                                    {post.data.description}
                                                </p>
                                                <aside class="flex gap-2 text-xs text-gray-500">
                                                    <address>{post.data.article.authors}</address>

                                                    <time datetime={post.data.article.pubDate}>
                                                        {post.data.article.pubDate}
                                                    </time>
                                                </aside>
                                            </a>
                                        </li>
                                    );
                                })}
                            </ul>
                        </nav>
                    );
                })
            }
        </section>
    </main>
</Layout>
