---
import "../style/heti_change.css";
import "../style/heti_site_change.css";
import Layout from "../Layout/Layout.astro";
import HETI_BODY from "../components/heti.astro";
const query = Astro.url.searchParams;
const font = query.get("font");
const fileName = query.get("name");
const family = query.get("family");
const subFamily = query.get("subFamily");
const style = `font-family:"${family}";font-bold:"${subFamily}"`;
---

<Layout
    defaultFontCSS={`https://ik.imagekit.io/chinesefonts/packages/${font}/dist/${fileName}/result.css`}
    style={style}
    type="article"
>
    <section class="flex flex-col justify-center pb-16" style={style}>
        <span class="h-fit">文章测试：{fileName}</span>
        <HETI_BODY />
    </section>
</Layout>
