---
import Index from '../../index.json';
import { __CDN__ } from '../global';
const list = Object.entries(Index).map(([id, value]) => {
    return { ...value, id };
});
---

<section
    class="w-screen max-w-6xl my-6 overflow-hidden h-[90vh] gap-2 grid grid-cols-6 pt-16 z-0 snap-start"
    id="font-list"
>
    <aside class="flex-1 col-span-3 lg:col-span-4 overflow-scroll md:p-4">
        <h2 class="text-xl md:text-2xl text-rose-700 border-b border-rose-700">
            字体列表

            <sub class="float-right text-sm text-cyan-800">{list.length}份 | 点击字体查看详情</sub>
        </h2>
        <ul id="fonts-index" class="w-full flex flex-wrap flex-1 py-4 text-xs md:text-base">
            {
                list.reverse().map((i) => {
                    return (
                        <li
                            class="flex-none cursor-pointer px-4 py-2 transition-colors duration-300  hover:bg-emerald-600 hover:text-white"
                            data-name={i.name}
                        >
                            {i.name}
                        </li>
                    );
                })
            }
        </ul>

        <script>
            window.onload = () => {
                const list = document.getElementById('fonts-index')!.children;
                ([...list] as HTMLLIElement[]).forEach((li) => {
                    li.onclick = () => {
                        // 更换为代码手动操作，API 不行，一直表现不一致
                        const item = document.getElementById('fonts-' + li.dataset.name)!;

                        let count = item.offsetTop - item.parentElement!.offsetTop;

                        document
                            .getElementById('fonts-wrapper')!
                            .scrollTo({ top: count, left: 0, behavior: 'smooth' });
                    };
                });
            };
        </script>
    </aside>
    <nav
        id="fonts-wrapper"
        class="overflow-scroll bg-white md:mx-8 p-2 md:px-8 rounded-lg my-4 col-span-3 lg:col-span-2"
    >
        <ul id="font-parent" class="flex flex-col gap-4">
            {
                list.map((item) => {
                    return (
                        <li id={'fonts-' + item.name}>
                            <header class="p-1  text-center text-2xl text-rose-600 md:mt-4 md:py-4">
                                {item.name}
                            </header>
                            <ul class="flex flex-col  justify-center gap-2">
                                {item.remotePath.map((remote) => {
                                    const [_, name] = remote.match(/dist\/(.*?)\/result/)!;
                                    return (
                                        <li class="relative flex-wrap overflow-hidden rounded-md bg-neutral-200 p-2">
                                            <a href={`/fonts/${item.id}/${name}`}>
                                                <img
                                                    loading="lazy"
                                                    class="h-8   md:h-14"
                                                    src={
                                                        __CDN__ +
                                                        '/' +
                                                        remote.replace('result.css', 'preview.svg')
                                                    }
                                                    alt={name + '字体展示'}
                                                />
                                            </a>
                                            <span class="absolute right-2 top-2">➡️</span>
                                        </li>
                                    );
                                })}
                            </ul>
                        </li>
                    );
                })
            }
        </ul>
    </nav>
</section>
