---
import { sections } from '../../utils/getPostSections';
---

<ul class="flex-1 overflow-scroll">
    {
        [
            ...sections.entries(),
            // 测试用途
            // ...sections.entries(),
            // ...sections.entries(),
            // ...sections.entries(),
        ].map(([sectionName, posts]) => {
            return (
                <li id={sectionName} class="mb-4">
                    <details open={true || posts.some((i) => Astro.url.pathname.includes(i.slug))}>
                        <summary class="header-text mb-3   cursor-pointer font-semibold text-cyan-900">
                            {sectionName}
                        </summary>
                        <ul class=" border-l border-neutral-100  ">
                            {posts.map((post) => {
                                return (
                                    <li
                                        class="line-clamp-1 border-l border-blue-200 py-1 pl-4 text-neutral-700 transition-all hover:border-blue-600  hover:text-cyan-700"
                                        title={post.data.title}
                                    >
                                        <a href={`/post/${post.slug}`}>{post.data.title}</a>
                                    </li>
                                );
                            })}
                        </ul>
                    </details>
                </li>
            );
        })
    }
</ul>
