---
import '../index.css';
import GlobalHeader from '../components/GlobalHeader.astro';
import { SEO } from 'astro-seo';
export interface Props {
    title?: string;
    description?: string;
    canonicalURL?: string;
    type?: 'website' | 'article' | 'blog' | 'product' | 'profile' | 'music' | 'video';
    image?: string;
    keywords?: string;
    meta?: any;
    defaultFontCSS?: string;
    style?: string;
    class?: string;
    htmlClass?: string;
}
const {
    title = '中文网字计划',
    description = '中文网字体计划，致力于提供免费的中文网络 CSS 字体支持',
    canonicalURL,
    image = '',
    type: ogType,
    keywords,
    style,
    defaultFontCSS = './fonts/jxzk.css',
    class: className,
    htmlClass,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh" class={htmlClass}>
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <!-- Canonical URL -->
        {canonicalURL && <link rel="canonical" href={canonicalURL} />}
        <slot name="meta" />
        <!-- Primary Meta Tags -->
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: ogType ?? 'website',
                    image,
                },
                optional: {
                    siteName: '中文网字计划',
                },
            }}
        />
        <meta name="keywords" content={'中文字体,css,webfont' + keywords} />
        <link rel="stylesheet" href={defaultFontCSS} />
        <link rel="preconnect" href="https://ik.imagekit.io/" crossorigin />
    </head>
    <body style={style} class={className}>
        <GlobalHeader />
        <slot />
    </body>
</html>
