---
import '../index.css';
import '../style/heti_change.css';
import '../style/post.css';
import { SEO } from 'astro-seo';

export interface Props {
    title?: string;
    description?: string;

    keywords?: string;
    meta?: any;
    defaultFontCSS?: string;
    article?: {
        publishedTime?: string | undefined;
        modifiedTime?: string | undefined;
        authors?: string[] | undefined;
        section?: string | undefined;
        tags?: string[] | undefined;
        image?: string;
    };
}
const {
    title = '中文网字计划',
    description = '中文网字体计划，致力于提供免费的中文网络 CSS 字体支持',
    keywords,
    defaultFontCSS = 'https://ik.imagekit.io/chinesefonts/packages/lxgwwenkai/dist/LXGWWenKai-Light/result.css',
    article,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <slot name="meta" />
        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <SEO
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: 'article',
                    image: article?.image ?? '',
                },
                optional: {
                    siteName: '中文网字计划',
                },
                article,
            }}
        />
        <meta name="keywords" content={'中文字体,css,webfont' + keywords} />
        <link rel="stylesheet" href={defaultFontCSS} />
        <link rel="preconnect" href="https://ik.imagekit.io/" crossorigin />
    </head>
    <body class="post-body flex flex-col justify-center items-center">
        <slot />
    </body>
</html>
